<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Places</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<h5>Total: {{ .Total }}</h5>
<ul>
    {{ range .Places }}
    <li>
        <div>{{ .Name }}</div>
        <br>
        <div>{{ .Phone }}</div>
        <br>
        <div>{{ .Address }}</div>
        <br>
        
    </li>
    {{ end }}
</ul>
{{if gt .Page 1}}
<a href="/?page={{minus .Page 1 }}">Previous</a>
{{ end }}
{{if lt .Page .TotalPages}}
<a href="/?page={{add .Page 1}}">Next</a>
<a href="/?page={{ .TotalPages }}">Last</a>
{{ end }}
</body>
</html>